<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianhai.mapper.EmployeeContractMapper" >
  <resultMap id="BaseResultMap" type="com.tianhai.pojo.EmployeeContract" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="party_a" property="partyA" jdbcType="VARCHAR" />
    <result column="party_b" property="partyB" jdbcType="VARCHAR" />
    <result column="address_file" property="addressFile" jdbcType="VARCHAR" />
    <result column="file_number" property="fileNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, contract_type, party_a, party_b, address_file, file_number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tianhai.pojo.EmployeeContractExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employee_contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tianhai.pojo.EmployeeContractExample" >
    delete from employee_contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tianhai.pojo.EmployeeContract" >
    insert into employee_contract (id, contract_type, party_a, 
      party_b, address_file, file_number
      )
    values (#{id,jdbcType=INTEGER}, #{contractType,jdbcType=VARCHAR}, #{partyA,jdbcType=VARCHAR}, 
      #{partyB,jdbcType=VARCHAR}, #{addressFile,jdbcType=VARCHAR}, #{fileNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianhai.pojo.EmployeeContract" >
    insert into employee_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="partyA != null" >
        party_a,
      </if>
      <if test="partyB != null" >
        party_b,
      </if>
      <if test="addressFile != null" >
        address_file,
      </if>
      <if test="fileNumber != null" >
        file_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null" >
        #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null" >
        #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="addressFile != null" >
        #{addressFile,jdbcType=VARCHAR},
      </if>
      <if test="fileNumber != null" >
        #{fileNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tianhai.pojo.EmployeeContractExample" resultType="java.lang.Integer" >
    select count(*) from employee_contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update employee_contract
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.contractType != null" >
        contract_type = #{record.contractType,jdbcType=VARCHAR},
      </if>
      <if test="record.partyA != null" >
        party_a = #{record.partyA,jdbcType=VARCHAR},
      </if>
      <if test="record.partyB != null" >
        party_b = #{record.partyB,jdbcType=VARCHAR},
      </if>
      <if test="record.addressFile != null" >
        address_file = #{record.addressFile,jdbcType=VARCHAR},
      </if>
      <if test="record.fileNumber != null" >
        file_number = #{record.fileNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update employee_contract
    set id = #{record.id,jdbcType=INTEGER},
      contract_type = #{record.contractType,jdbcType=VARCHAR},
      party_a = #{record.partyA,jdbcType=VARCHAR},
      party_b = #{record.partyB,jdbcType=VARCHAR},
      address_file = #{record.addressFile,jdbcType=VARCHAR},
      file_number = #{record.fileNumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianhai.pojo.EmployeeContract" >
    update employee_contract
    <set >
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null" >
        party_a = #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null" >
        party_b = #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="addressFile != null" >
        address_file = #{addressFile,jdbcType=VARCHAR},
      </if>
      <if test="fileNumber != null" >
        file_number = #{fileNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianhai.pojo.EmployeeContract" >
    update employee_contract
    set contract_type = #{contractType,jdbcType=VARCHAR},
      party_a = #{partyA,jdbcType=VARCHAR},
      party_b = #{partyB,jdbcType=VARCHAR},
      address_file = #{addressFile,jdbcType=VARCHAR},
      file_number = #{fileNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>